@import "../../styles/variables.scss";

.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .mainContent {
    padding: 1em;
    width: 80%;
  }

  .sideBar {
    width: 20%;
    padding: 1em;
  }
}
