@import "../../styles/variables.scss";

.articleMata {
  color: $textColor2;

  .articleMataItem {
    font-size: 0.8rem;
    color: $textColor2;
    margin-right: 0.4rem;

    &::after {
      content: "|";
      display: inline-block;
      margin-left: 0.4rem;
    }

    &:last-child::after {
      content: "";
    }

    .articleIcon {
      margin-right: 0.3rem;
    }

    .articleLabel {
      margin-right: 0.3rem;
    }

    .tags {
      &::after {
        content: "•";
        font-size: 0.5rem;
        display: inline-block;
        margin: 0.1rem;
      }

      &:last-child::after {
        content: "";
      }
    }
  }
}
