@import "../../styles/variables.scss";

.baseCard {
  background-color: $themeColor;
  padding: 0.5rem 0.7rem;
  border-radius: $midRadius;
  box-sizing: border-box;
}

.hover:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-out;
}
