.Markdown {
  img {
    max-width: 100%;
    position: unset !important;
  }

  .mdcode {
    font-family: "Fira Code", "Fira Mono", Menlo, Consolas, "DejaVu Sans Mono",
      monospace;
  }

  font-size: 1rem;
}
