.contentAndSidebar {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .sidebar {
    width: 25%;
    box-sizing: border-box;
  }
  .content {
    width: 75%;
    box-sizing: border-box;
  }

  @media screen and (max-width: 900px) {
    flex-direction: column;
    .sidebar {
      width: 100%;
    }
    .content {
      width: 100%;
    }
  }
}
