@import "../../styles/variables.scss";

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: $navHeight;
  padding: 0.4rem 1rem;

  .leftItems {
    display: flex;
    flex-direction: row;
    .navItem {
      font-weight: 700;
    }
  }

  .rightItems {
    display: flex;
    flex-direction: row;
  }

  .navItem {
    position: relative;
    display: inline-block; /* Ensures inline behavior */
    padding-right: 1rem;
    font-size: 1.1rem;
    cursor: pointer; /* Add pointer cursor for better UX */
  }

  .navItem::after {
    content: "";
    display: block;
    width: 0%; /* Adjust the line width as needed */
    height: 2px; /* Adjust the line thickness as needed */
    background-color: $hoverColor; /* Adjust the line color as needed */
    position: absolute;
    top: 55%;
    left: 0%;
    transform: translateY(-50%);
    opacity: 1; /* Initially hidden */
    transition: width 0.5s ease-in-out;
    transform-origin: left center;
  }

  .navItem:hover::after {
    content: "";
    width: 80%;
  }
}
