@import "../../styles/variables.scss";

.Categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin: 1rem;
  padding: 2rem;

  .itemCard {
    background-color: $themeColor2;
    text-align: center;

    &:hover {
      background-color: $hoverColor;
    }
  }
}
