@import "../../../styles/variables.scss";
.articleCard {
  height: $articleCardHight;
  margin: auto;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 1rem;
  cursor: pointer;
  // ::shadow
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);

  @media screen and (max-width: $smallerScreen) {
    height: $articleCardHightSmall;
    font: 0.8rem;
  }

  .articleCardContainer {
    padding: 2rem 2rem;
    margin: auto auto !important;
    color: $textColor;

    .title {
      font-size: 1.5rem;
      font-weight: 700;
    }

    .desc {
      // only show 3 lines of text
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3; // number of lines to show
      -webkit-box-orient: vertical;
    }

    .meta {
      margin-bottom: 0.6rem;
    }
  }
}

.articleCardList {
}
