.banner {
  min-height: 100vh;
  width: 100%;

  /* Center the content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center horizontally */
  text-align: center;

  /* Create space at the top */
  margin-top: auto;
  .title {
    font-size: 1.1rem;
    font-weight: 700;
  }

  .subtitle {
    margin-top: 1rem;
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
  }

  .pulldown_button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    font-size: 1rem;
    font-weight: 500;
    animation: jumpUpDown 1s infinite alternate,
      fadeInOut 1.1s infinite alternate, 1s ease-in-out;
    padding-bottom: 1rem;
  }
}

.smallBanner{
  min-height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center horizontally */
  text-align: center;
  .subtitle {
    margin-top: 1rem;
    font-size: 3.5rem;
    padding-bottom: 1rem;
  }
}
@keyframes jumpUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}
